{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span>
  <span class="base08">d</span>
  <span class="base09">r</span>
  <span class="base0a">o</span>
  <span class="base0b">i</span>
  <span class="base0c">d</span>
  <span class="base0d">s</span>
  <span class="base0e">.</span>
  <span class="base0f">w</span>
  <span class="base08">o</span>
  <span class="base09">r</span>
  <span class="base0a">k</span>
  <span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  {{ .Site.Params.subtitle }}
</div>
